langchain-iris
testcontainers-iris
llama-iris
llama-index-legacy
sentence-transformers
langchain
fastembed 
openai 
tiktoken
python-dotenv
pandas
ipykernel
setuptools
chromadb
streamlit
langchain-community
python-docx
pandas
numpy
docx2txt
spacy
opencv-python